h1,
h3 {
  text-align: center;
}
h3 {
  background-color: black;
  color: white;
  font-size: 0.9em;
  margin-bottom: 0;
}
.news p {
  background-color: #cccccc;
  margin-top: 0;
}
.news {
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: blue;
}

.error {
  color: red;
  font-size: 18px;
  margin-bottom: 2rem;
}