{% extends 'layouts/admin.twig' %}
{% block content %}
    <h1>{{ pageTitle }}</h1>

    <a href="?action=posts">Liste des articles</a><br/>
    <a href="?action=post.add">Écrire un nouvel article</a><br/>
    <a href="/">Retour à l'accueil</a>

{% endblock %}