{% extends 'layouts/admin.twig' %}
{% block content %}

    <h1>Rédiger un nouvel article</h1>
    <a href='/admin'>Retour à l'accueil admin</a>

    <form method="post">
        <input type="hidden" name="controlSubmit">
        <label for="title">Titre: </label>
        <input id="title" type="text" name="title" value="{{ post.title }}" maxlength="255">
        <br/>
        <label for="subtitle">Chapo: </label>
        <input id="subtitle" type="text" name="subtitle" value="{{ post.subtitle }}" maxlength="255">
        <br/>
        <label for="content" hidden>Corps: </label>
        <textarea id="content" name="content" cols="50" rows="20" maxlength="10000">{{ post.content }}</textarea>
        <br/>
        <input type="submit" value="Valider">
    </form>

{% endblock %}
{% block errors %}
    <ul class="error">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endblock %}
