<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{{ pageTitle }}{% endblock %}</title>
    <link href="../style.css" rel="stylesheet"/>
</head>

<body>

{% block content %}{% endblock %}

<div>{% block errors %} {% endblock %}</div>
</body>
</html>
