{% extends 'layouts/default.twig' %}
{% block content %}
<h1><?= $pageTitle ?></h1>

<form method="post">
    <input type="hidden" name="controlSubmit">

    <label for="pseudo">Pseudo: </label>
    <input id="pseudo" type="text" name="pseudo" value="{{ pseudo }}">
    <br/>
    <label for="email">Email: </label>
    <input id="email" type="email" name="email" value="{{ email }}">
    <br/>
    <label for="password">Mot de passe: </label>
    <input id="password" type="password" name="password">
    <br/>
    <label for="passwordConfirm">Confirmer le mot de passe</label>
    <input id="passwordConfirm" type="password" name="passwordConfirm">
    <br/>
    <input type="submit" value="S'inscrire">
</form>
<br/>
<div>
    <span>Un mot de passe valide aura:</span>
    <ul>
        <li>de 8 à 15 caractères</li>
        <li>au moins une lettre minuscule</li>
        <li>au moins une lettre majuscule</li>
        <li>au moins un chiffre</li>
        <li>au moins un de ces caractères spéciaux: $ @ % * + - _ !</li>
        <li>aucun autre caractère spécial</li>
    </ul>
</div>
{% endblock %}
{% block errors %}
    <ul class="error">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endblock %}
